WSClient/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="systemtime">
        <s:complexType />
      </s:element>
      <s:element name="systemtimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="systemtimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="db_insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="q" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="db_insertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Get_ListStudentsClassName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_ListStudentsClassNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_ListStudentsClassNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_ListStudentsCourseClassName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_ListStudentsCourseClassNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_ListStudentsCourseClassNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Top5Students">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="semester" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Top5StudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_Top5StudentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="systemtimeSoapIn">
    <wsdl:part name="parameters" element="tns:systemtime" />
  </wsdl:message>
  <wsdl:message name="systemtimeSoapOut">
    <wsdl:part name="parameters" element="tns:systemtimeResponse" />
  </wsdl:message>
  <wsdl:message name="db_insertSoapIn">
    <wsdl:part name="parameters" element="tns:db_insert" />
  </wsdl:message>
  <wsdl:message name="db_insertSoapOut">
    <wsdl:part name="parameters" element="tns:db_insertResponse" />
  </wsdl:message>
  <wsdl:message name="Get_ListStudentsClassNameSoapIn">
    <wsdl:part name="parameters" element="tns:Get_ListStudentsClassName" />
  </wsdl:message>
  <wsdl:message name="Get_ListStudentsClassNameSoapOut">
    <wsdl:part name="parameters" element="tns:Get_ListStudentsClassNameResponse" />
  </wsdl:message>
  <wsdl:message name="Get_ListStudentsCourseClassNameSoapIn">
    <wsdl:part name="parameters" element="tns:Get_ListStudentsCourseClassName" />
  </wsdl:message>
  <wsdl:message name="Get_ListStudentsCourseClassNameSoapOut">
    <wsdl:part name="parameters" element="tns:Get_ListStudentsCourseClassNameResponse" />
  </wsdl:message>
  <wsdl:message name="Get_Top5StudentsSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Top5Students" />
  </wsdl:message>
  <wsdl:message name="Get_Top5StudentsSoapOut">
    <wsdl:part name="parameters" element="tns:Get_Top5StudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="systemtime">
      <wsdl:input message="tns:systemtimeSoapIn" />
      <wsdl:output message="tns:systemtimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="db_insert">
      <wsdl:input message="tns:db_insertSoapIn" />
      <wsdl:output message="tns:db_insertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_ListStudentsClassName">
      <wsdl:input message="tns:Get_ListStudentsClassNameSoapIn" />
      <wsdl:output message="tns:Get_ListStudentsClassNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_ListStudentsCourseClassName">
      <wsdl:input message="tns:Get_ListStudentsCourseClassNameSoapIn" />
      <wsdl:output message="tns:Get_ListStudentsCourseClassNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Top5Students">
      <wsdl:input message="tns:Get_Top5StudentsSoapIn" />
      <wsdl:output message="tns:Get_Top5StudentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="systemtime">
      <soap:operation soapAction="http://tempuri.org/systemtime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="db_insert">
      <soap:operation soapAction="http://tempuri.org/db_insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ListStudentsClassName">
      <soap:operation soapAction="http://tempuri.org/Get_ListStudentsClassName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ListStudentsCourseClassName">
      <soap:operation soapAction="http://tempuri.org/Get_ListStudentsCourseClassName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Top5Students">
      <soap:operation soapAction="http://tempuri.org/Get_Top5Students" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="systemtime">
      <soap12:operation soapAction="http://tempuri.org/systemtime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="db_insert">
      <soap12:operation soapAction="http://tempuri.org/db_insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ListStudentsClassName">
      <soap12:operation soapAction="http://tempuri.org/Get_ListStudentsClassName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ListStudentsCourseClassName">
      <soap12:operation soapAction="http://tempuri.org/Get_ListStudentsCourseClassName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Top5Students">
      <soap12:operation soapAction="http://tempuri.org/Get_Top5Students" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44336/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44336/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>